
<div class="Header">
<img id="tittle" src="/images/herosquad.png" alt="herosquad">
</div>

<div class="wrapper">

  //Squad 1
  <div class="news-item hero-item">
    <h1>SQUAD 001</h1>
      <div class="co">

      </div>


  </div>

  <div class="news-item standard-item">
  </div>
  <div class="news-item standard-item">
  </div>
  <div class="news-item standard-item">
  </div>
</div>
